
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="container">
    <img src="~/images/logo.png" />
    @{
        var list = new List<int>() { 1, 2, 3, 4, 5, 6 };
    }

    @foreach (var item in list)
    {
        if (item == 2)
        {
            <h1>@item</h1>
        }
        else
        {
            <h1 class="h1">Hello world</h1>
        }
    }

</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>

<script>
    $(document).ready(function () {
        alert("Page Loaded");
    });
</script>
