@using ConsoleToMVC.Models
@model IEnumerable<BookModel>


@*@model IEnumerable<ConsoleToMVC.Models.BookModel>
*@

@{
    Layout = "_Layout";
}


<h1 class="h-100">Get All Books </h1>

@foreach (var book in Model)
{
    <h2 class="h-25">Book Title- @book.Title</h2>
    <h2 class="h-25">Book Id- @book.Id</h2>
    <h2 class="h-25">Book Author- @book.Author</h2>
}
